@model DTO.User.UserProfileChangePasswordDTO

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-icon" data-background-color="purple">
            <i class="material-icons">account_box</i>
        </div>
        <div class="card-content">
            <h4 class="card-title"> تغییر کلمه عبور </h4>

            <div class="col-md-12">
                <form asp-action="ChangePassword" class="change-pass-form" onsubmit="return user.profileChangePassword.save(event)">
                    <div class="form-horizontal">
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="error text-center text-danger">@ViewBag.Error</div>
                        <div class="success text-center text-success">@ViewBag.Success</div>
                        <input type="hidden" asp-for="Id" />

                        <div class="col-md-6 col-md-offset-3">

                            @if (!Model.PasswordIsChanged)
                            {
                                <div class="col-md-12 change-password-aler">
                                <div class="alert alert-info">
                                    <p>کاربر گرامی، شما برای اولین بار وارد پنل شده اید. لطفا برای دسترسی به سایر بخشهای پنل، نسبت به تغییر کلمه عبور خود اقدام نمایید.</p>
                                </div>
                                </div>
                            }

                            <div class="form-group col-md-12">
                                <label asp-for="OldPassword" class="control-label text-right col-md-12 required"></label>
                                <div class="col-md-12">
                                    <input asp-for="OldPassword" autocomplete="off" class="form-control" />
                                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <label asp-for="Password" class="control-label text-right col-md-12 required"></label>
                                <div class="col-md-12">
                                    <input asp-for="Password" autocomplete="off" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <label asp-for="RePassword" class="control-label text-right col-md-12 required"></label>
                                <div class="col-md-12">
                                    <input asp-for="RePassword" autocomplete="off" class="form-control" />
                                    <span asp-validation-for="RePassword" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group col-md-12 text-center">
                                <div class="">
                                    <img alt="Captcha" id="imgcpatcha" src="@Url.Action("CaptchaImage", "Captcha", new{area = ""})" style="width: auto; height:60px;" onclick="changeCaptcha()" />
                                    <br /><small>با کلیک روی عکس، کد امنیتی بازنشانی می شود</small>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <label class="control-label text-right col-md-12 required">کد امنیتی</label>
                                <input type="number" id="captcha" name="captcha" class="form-control col-md-12">
                            </div>

                        </div>

                        <div class="col-md-6 col-md-offset-3 text-center">
                            <div class="col-md-12">

                                <div class="form-group text-center">
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-info">
                                            <i class="material-icons">send</i>
                                            تغییر کلمه عبور
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <!-- end content-->
    </div>
    <!--  end card  -->
</div>




@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

<script src="~/Areas/AuthSystem/js/User.js" asp-append-version="true"></script>

}

